body {

	color: black;
	font-family: Georgia, serif;
	background-color: #D6D6FF;

}

h1 {

	font-family: Georgia, serif, sans-serif;
	font-weight: 800;

}



.navbar {

	position: absolute;
	background-color: #B8B8FF;
	border: 4px solid #FFFFFF;
	font-weight: 200;
	top: 15em;
	left: 5em;
	width: 30em;
	border-radius: 15px;

}

@media all{

	body{

		background-color: #D6D6FF;

	}
}

@media print{


	body{

		background-color: white;
		color: black;

	}
	
}